<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simple chat websocket client">
    <meta name="author" content="Thomas Ayih-Akakpo">

    <title>Simple Chat</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>

  <body>
    <!-- Page Content -->
    <div class="container">
      <!-- Jumbotron Header -->
      <header class="jumbotron hero-spacer">
        <h3>Welcome to the chat, {{ username }}</h3>
        <p>
          <b>/users</b> : gives you the list of connected users<br>
          <b>/rooms</b>: gives you the list of available rooms<br>
          <b>/join room_name</b>: allows you to join conversation in a room<br>
          <b>/leave</b>: let you leave the room<br>
          <b>/quit</b>: disconnects you from the server<br>
        </p>
      </header>
      <hr>
      <!-- Title -->
      <div class="row">
	<div class="col-lg-12" id="chat-text"></div>
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-12">
	  <form id="input-form">
	    <input id="input-text" type="text" placeholder="Chat here"/>
	    <button type="submit" class="btn btn-primary">Send</button>
	  </form>
        </div>
      </div>
      <!-- /.row -->
      <hr>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/reconnecting-websocket.min.js"></script>
    <script type="text/javascript">
      var inbox = new ReconnectingWebSocket("ws://" + location.host + "/receive");
      var outbox = new ReconnectingWebSocket("ws://" + location.host + "/submit");
      inbox.onmessage = function(message) {
      console.log(data);
      var data = JSON.parse(message.data);
      var name = $('<span/>').text(data.name).html();
      var msg = $('<span/>').text(data.text).text();
      $("#chat-text").append(
      "<div class='panel panel-default'><div class='panel-heading'>" + name + "</div><div class='panel-body'>" + msg.replace(/\n/g, '<br />') + "</div></div>");
      $("#chat-text").stop().animate({scrollTop: $('#chat-text')[0].scrollHeight}, "fast");
      };
      
      inbox.onclose = function(){console.log("inbox closed");
      this.inbox = new WebSocket(inbox.url);
      };
      
      outbox.onclose = function(){console.log("outbox closed");
      this.outbox = new WebSocket(outbox.url);
      };

      $("#input-form").on("submit", function(event) {
      event.preventDefault();
      var text = $("#input-text")[0].value;
      outbox.send(JSON.stringify({ name: "{{ username }}", text: text }));
      $("#input-text")[0].value = "";
      $("#chat-text").animate({"scrollTop": $('#chat-text')[0].scrollHeight}, "fast");
      });
    </script>
  </body>
</html>
