<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Chat - Login</title>
    <meta name="author" content="Thomas Ayih-Akakpo">
    <meta name="description" content="Simple Chat server">
    <link href="static/css/register.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="login-page">
        <div class="form">
	  <form class="register-form" method="POST" action="">
	    <input type="text" placeholder="Login name"/>
	    <button type="submit">OK</button>
	  </form>
        </div>
      </div>
    </div>
  </body>
</html>
